 .textoIS{

    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  #IS{
    color: rgb(0, 0, 71);
    text-align: center;
    font-size: 50px;
    font-family: 'Tahoma';
  }

  .formulario{
    text-align: center;
    width: auto;
    height:auto;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    display: -ms-grid;
    display: grid;
  }

  .entradaTextoCedula{
    
    display: -ms-grid;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
  }

  .entradaTextoContraseña{
    width: auto;
    display: -ms-grid;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 10px;
  }

  .entradaTextoCedula input, .entradaTextoContraseña input{
    background: none;
    border: 2px solid #112031;
    font-size: 1.7em;
    border-radius: 10px;
    padding: 0 .5em;
    height: 50px;
    width: auto;
    outline: none;
    color: #112031;
  }

  .formulario label{
    font-family: 'Tahoma';
    font-size: 20px;
    text-align: center;
    transition: all .3s ease;
    color: #112031;
    border-radius: 2mm;
    padding: 5px;
    margin: auto;
    
  }

  

  .LogoSS{
    size: 2cm;
    display: flex;
    justify-content: center;
    margin-top: 45px;
  
  }

  #logo{
    size: 2cm;
    width: 2cm;
  }
  
 

 
  
  .botones_2{
    
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px;
    justify-content: center;
    display: flex;
    
    
  }
  
 #acceder{
    color: #112031;
    font: bold 120% sans-serif;    
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: #112031;
    width: 110px;
    height: 48px;
    cursor: pointer;
    
  }

    
  #acceder:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    }
  
  #registrar{
    color: #112031;   
    font: bold 120% sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border-color: #112031;
    width: 110px;
    height: 48px;
    cursor: pointer;
    
  }

  

  
  #registrar:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    }

 

.Google:hover {
    transition: 0.5s;
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
    }

  #botonGoogle{
    margin-left: auto;
    margin-right: auto;
    
  }

  #logoGoogle{
    width: 20px;
    border-right: 2mm;
  }

  #olvide{
    margin-left: auto;
    margin-right: auto;
    color: #112031;
    background: white;    
    font: 80% sans-serif;
    border: none;
    text-decoration: underline;
    font-weight: bold;
  }

  .olvideContraseña{
    text-align: center;
    margin-top: 9px;
  }

  .Botones_1{
    align-items: center;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    padding: 10px;
  }

  .Google{
    align-items: center;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    padding: 10px;
  }

  link, a{
    text-decoration: none;
    color: none;
}

  